.choice-box {
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  &__header {
    font-size: 40px;
    margin: 0;
  }
  &__variants {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  &__variant {
    font-size: 50px;
    background: transparent;
    outline:none;
    color: white;
    opacity: 0.5;
    border: 3px dashed rgba(255, 255, 255, 0);
    cursor: pointer;
    &:hover {
      border: 3px dashed rgba(255, 255, 255, 0.5);
      border-radius: 30px;
    }
  }
  &__back {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    opacity: 0.5;
    font-size:30px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    visibility: hidden;
    &:hover {
      opacity: 1;
    }
    &_visible {
      visibility: visible;
    }
  }
}