@import "../../styles/colors";
@import "../../styles/variables";

.ttt-box {
  width: 450px;
  height: 460px;
  background: $yellow;
  box-shadow: 10px 10px 25px,
  0px -3px 20px grey inset;
  border-radius: 10px;
  padding: 5px $ttt-box-header-p;
  box-sizing: border-box;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: $ttt-box-header-height;
    margin-bottom: $ttt-box-header-m-b;
  }

  &__results {
    display: flex;
  }

  &__reset {
    background: transparent;
    outline: none;
    color: $brown;
    font-size: 20px;
    font-family: inherit;
    border: 2px dashed rgba(110, 75, 0, 0);
    cursor: pointer;

    &:hover {
      border: 2px dashed rgba(110, 75, 0, 0.5);
      border-radius: 30px;
    }
  }
}

.ttt-field {
  //display: inline-block;
  //width: 400px;
  height: 80%; //calc(100% - $ttt-box-header-height - $ttt-box-header-m-b - $ttt-box-header-p);
  background: radial-gradient($green, $black);
  text-align: center;
  color: white;
  //overflow: hidden;
}